# Dealing with background verification (BGV)

## Perspectives & advice from the community

`u/_undefined_null_` shared the following advice on a post titled, [How to handle background verification?](https://www.reddit.com/r/developersIndia/comments/1f0w357/feeling-st_stuck_in_a_toxic_work_environment_scrum/).

<blockquote>

To all the people talking about BGV.

Whenever I have left an org for toxicity reasons, I have always informed my next org, the reason for my leaving in detail, before joining the org. I have also told them, not to expect much good review in BGV or referral review, as things were not good in that org. I had even given few referral of my colleague whom they can connect to confirm the toxicity level.

The only thing is, you need to be crystal clear with your next org about all this, before actually joining. IF they are ok with it, they will ask you to sign the offer letter. IF not, they will give some reason as to why the can't continue. IT's ok, there are lots of companies out there, who don't really care about your previous companies reviews as long as you are able to work efficiently and help them complete their projects. So meh. IT world is small, but not that small.

Kudos to the person standing up and making the upper management know about the toxicity of the manager.

---

[`Source`](https://www.reddit.com/r/developersIndia/comments/1cory3t/comment/l3jlzru/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button)

</blockquote>
