<!-- omit from toc -->
# Dealing with background verification (BGV)

- [Perspectives \& advice from the community](#perspectives--advice-from-the-community)
- [Related Discussions](#related-discussions)
- [Stories from the community](#stories-from-the-community)

## Perspectives & advice from the community

`u/_undefined_null_` shared the following advice on a post titled, [just another day at office. Toxic culture at its peak](https://www.reddit.com/r/developersIndia/comments/1cory3t/just_another_day_at_office_toxic_culture_at_its/).

<blockquote>

To all the people talking about BGV.

Whenever I have left an org for toxicity reasons, I have always informed my next org, the reason for my leaving in detail, before joining the org. I have also told them, not to expect much good review in BGV or referral review, as things were not good in that org. I had even given few referral of my colleague whom they can connect to confirm the toxicity level.

The only thing is, you need to be crystal clear with your next org about all this, before actually joining. IF they are ok with it, they will ask you to sign the offer letter. IF not, they will give some reason as to why the can't continue. IT's ok, there are lots of companies out there, who don't really care about your previous companies reviews as long as you are able to work efficiently and help them complete their projects. So meh. IT world is small, but not that small.

Kudos to the person standing up and making the upper management know about the toxicity of the manager.

---

[`Source`](https://www.reddit.com/r/developersIndia/comments/1cory3t/comment/l3jlzru/)

</blockquote>

`u/agathver` shared the following advice on a post titled, [Background Verification No Rehire Status- ( 3 years )](https://www.reddit.com/r/developersIndia/comments/1f29ota/background_verification_no_rehire_status_3_years/).

<blockquote>

Scare tactic. They can't do anything.

BGV is mostly for compliance and employment record verifications. No one cares about internal statuses.

BGV is like, "did this person with employment ID 123 work here from xyz date to abc date?", Yes/No

Also, with good BGV providers, they also have an option to confirm employment details with alternate means if you do not want to provide them with a reference for verification, using a combination of PF account details, payslips and ITR.

---

[`Source`](https://www.reddit.com/r/developersIndia/comments/1f29ota/comment/lk52acg/)

</blockquote>

## Related Discussions

- [If you are working in a startup, then be warned. Get the follow clearances as soon as possible.](https://www.reddit.com/r/developersIndia/comments/1d2ow0l/if_you_are_working_in_a_startup_then_be_warned/).
- [How strict is BGV? I resigned before clearing the BGV and am scared](https://www.reddit.com/r/developersIndia/comments/13swt1f/how_strict_is_bgv_i_resigned_before_clearing_the/).
- [BGV Address Verification Agent Asking Money. Will he be able to cause any issue?](https://www.reddit.com/r/developersIndia/comments/1cjyq8m/bgv_address_verification_agent_asking_money_will/).
- [Never fake your experience certificate. Never lie. If caught, your IT life is lost.](https://www.reddit.com/r/developersIndia/comments/18gk54z/never_fake_your_experience_certificate_never_lie/).
- [Does the third party bgv vendors verify your skill sets?](https://www.reddit.com/r/developersIndia/comments/1bflmi2/does_the_third_party_bgv_vendors_verify_your/).
- [Absconded in 2021 due to health. Now BGV asks for docs](https://www.reddit.com/r/developersIndia/comments/1fw6car/absconded_in_2021_due_to_health_now_bgv_asks_for/).
- [How can I prove my employment without a salary slip?](https://www.reddit.com/r/developersIndia/comments/15rj52s/how_can_i_prove_my_employment_without_a_salary/).

## Stories from the community

- [Previous company messed up my BGV process. Now, my career is hanging in balance](https://www.reddit.com/r/developersIndia/comments/1d2n800/previous_company_messed_up_my_bgv_process_now_my/).
